@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

:root{
    --cor-de-fundo: rgba(22, 124, 48, 0.716);
    --cor-de-texto: rgb(10, 10, 10);
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-texto);
    font-family: 'Sevillana';
}

header{
    background-color: var(--cor-de-fundo);
    height: auto;
    font-size: small;
}

.container-reverse{
    display: flex;
    flex-direction: row-reverse;
}

.container img{
    width: 30%;
    height: auto;
    margin-top: 34px;
}